.*
*.d.ts.map
*.test-helper.*
*.test.*
*.tgz
**/*/readme-examples/
**/*/test/
/configs/
/coverage/
/cspell.config.js
/graphics/
/Icon?
/public/
/src/
bash-scripts/
docs-dist/
index.html
test-files/
tsconfig*.json